# STOCK ANALYSIS (TATAMOTORS)

In [43]:
###Required Packages and Libraries

In [44]:
import yfinance as yf
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error as mse

In [3]:
##Connecting to Yahoo Finance API

url = "https://yh-finance.p.rapidapi.com/auto-complete"

querystring = {"q":"TATAMOTORS.NS","region":"India"}

headers = {
	"X-RapidAPI-Key": "58b68b1204mshf9dc835********82173jsn42a87c913b7f",
	"X-RapidAPI-Host": "yh-finance.p.r******om"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"explains":[],"count":9,"quotes":[{"exchange":"NSI","shortname":"TATA MOTORS LTD.","quoteType":"EQUITY","symbol":"TATAMOTORS.NS","index":"quotes","score":2111200.0,"typeDisp":"Equity","longname":"Tata Motors Limited","exchDisp":"NSE","sector":"Consumer Cyclical","industry":"Auto Manufacturers","isYahooFinance":true}],"news":[{"uuid":"273fc9ae-2666-3ef0-9b1a-cbf61abe4e7c","title":"Japan's super-long yields fall amid geopolitical concerns","publisher":"Reuters","link":"https://finance.yahoo.com/news/japans-super-long-yields-fall-061048440.html","providerPublishTime":1668579048,"type":"STORY"},{"uuid":"f2556eb9-bc2a-3eae-b8b5-4bfe36c427e7","title":"Investors Warn of More Pain Ahead as Valuations Slide: NEF Wrap","publisher":"Bloomberg","link":"https://finance.yahoo.com/news/nef-latest-poland-missile-dominates-012717389.html","providerPublishTime":1668578952,"type":"STORY","thumbnail":{"resolutions":[{"url":"https://s.yimg.com/uu/api/res/1.2/LNjlp7BPi4_gxT6oNwCfMA--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_markets_842/82887b47ca04169f3a5b28f75bb9290f","width":2000,"height":1333,"tag":"original"},{"url":"https://s.yimg.com/uu/api/res/1.2/PpP.hOgE9VP4nnfsm0oijw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/82887b47ca04169f3a5b28f75bb9290f","width":140,"height":140,"tag":"140x140"}]}},{"uuid":"72d9f8a7-063c-375e-b42f-552683900a06","title":"Special Report-FTX's Bankman-Fried begged for a rescue even as he revealed huge holes in firm's books","publisher":"Reuters","link":"https://finance.yahoo.com/news/special-report-ftxs-bankman-fried-060817826.html","providerPublishTime":1668578897,"type":"STORY","thumbnail":{"resolutions":[{"url":"https://s.yimg.com/uu/api/res/1.2/E_Con7owjh0127j4BZcrow--~B/aD01MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/81b7cf862692dafa15d88c6990f1633a","width":800,"height":533,"tag":"original"},{"url":"https://s.yimg.com/uu/api/res/1.2/v_QorWs1oz9KQN51ThxAYQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/81b7cf862692dafa15d88c6990f1633a","width":140,"height":140,"tag":"140x140"}]}},{"uuid":"ae72801b-cd6a-3845-b388-fce774df311d","title":"CENTRAL IN LIMA IS NAMED NO.1 AS THE LIST OF LATIN AMERICA'S 50 BEST RESTAURANTS IS REVEALED FOR 2022","publisher":"PR Newswire","link":"https://finance.yahoo.com/news/central-lima-named-no-1-060200337.html","providerPublishTime":1668578520,"type":"STORY","thumbnail":{"resolutions":[{"url":"https://s.yimg.com/uu/api/res/1.2/.Fo.KdoF083pLHXgeo_hfg--~B/aD0zNDU7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/ac1dc001db0441eaa263398faed830b2","width":400,"height":345,"tag":"original"},{"url":"https://s.yimg.com/uu/api/res/1.2/CmhgcHkDjLlHDO1YkM__Kg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/ac1dc001db0441eaa263398faed830b2","width":140,"height":140,"tag":"140x140"}]}},{"uuid":"1b43a220-75a5-32fa-a3dc-2953483e47a2","title":"Burberry looks to reignite spark under new leadership duo","publisher":"Reuters","link":"https://finance.yahoo.com/news/burberry-looks-reignite-spark-under-060125157.html","providerPublishTime":1668578485,"type":"STORY","thumbnail":{"resolutions":[{"url":"https://s.yimg.com/uu/api/res/1.2/giGq6mcOeNIEmAC5QiBHzg--~B/aD01MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/a01f03ad1fbaf6c68f90384a623a0689","width":800,"height":533,"tag":"original"},{"url":"https://s.yimg.com/uu/api/res/1.2/5vesKMtY18jYee4iBXX4ww--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/a01f03ad1fbaf6c68f90384a623a0689","width":140,"height":140,"tag":"140x140"}]},"relatedTickers":["BURBY"]},{"uuid":"2d71ec36-9e81-3fa2-8253-d0f11f562a7e","title":"Louis Vuitton Taps Isabelle Mössinger for Communications Role","publisher":"WWD","link":"https://finance.yahoo.com/m/2d71ec36-9e81-3fa2-8253-d0f11f562a7e/louis-vuitton-taps-isabelle.html","providerPublishTime":1668578460,"type":"STORY","thumbnail":{"resolutions":[{"url":"https://s.yimg.com/uu/api/res/1.2/dDEnI6Tj_D1hyk3Xps4RHg--~B/aD0yNjMwO3c9MTk3MzthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/wwd_finance_675/29d1cdb0b2f57c44c99efd19ce2615a5","width":1973,"height":2630,"tag":"original"},{"url":"https://s.yimg.com/uu/api/res/1.2/qwMEd72xZvtOplPIgtBL1g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wwd_finance_675/29d1cdb0b2f57c44c99efd19ce2615a5","width":140,"height":140,"tag":"140x140"}]}},{"uuid":"02349d33-8829-3b19-94b5-8f41e71cdf97","title":"COLUMN-Housing storm leaves UK exposed, skews policy: Mike Dolan","publisher":"Reuters","link":"https://finance.yahoo.com/news/column-housing-storm-leaves-uk-060052659.html","providerPublishTime":1668578452,"type":"STORY"},{"uuid":"4a09856d-325e-3a52-bd51-aaf40c3160c7","title":"Yahoo Finance LIVE - Nov 16 AM","publisher":"Yahoo Finance Video","link":"https://finance.yahoo.com/video/yahoo-finance-live-nov-16-212750096.html","providerPublishTime":1668578450,"type":"VIDEO","thumbnail":{"resolutions":[{"url":"https://s.yimg.com/uu/api/res/1.2/JROOHNXjo16ZbnG0EpU6Ag--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-09/1af93af0-db18-11e9-bff7-e34690b9be52","width":1920,"height":1080,"tag":"original"},{"url":"https://s.yimg.com/uu/api/res/1.2/.Pl07vIrpkJy_AGrKrtjlw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-09/1af93af0-db18-11e9-bff7-e34690b9be52","width":140,"height":140,"tag":"140x140"}]}}],"nav":[],"lists":[],"researchReports":[],"screenerFieldResults":[],"totalTime":109,"timeTakenForQuotes":487,"timeTakenForNews":600,"timeTakenForAlgowatchlist":400,"timeTakenForPredefinedScreener":400,"timeTakenForCrunchbase":0,"timeTakenForNav":400,"timeTakenForResearchReports":0,"timeTakenForScreenerField":0,"timeTakenForCulturalAssets":0}

In [12]:
TM= yf.Ticker("TATAMOTORS.NS")


# show dividends
TM.dividends

# show splits
TM.splits

Date
2011-09-12 00:00:00+05:30    5.0
Name: Stock Splits, dtype: float64

In [30]:
df = yf.download("TATAMOTORS.NS", start="2017-01-01",parse_dates=['Date'],index_col='Date')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-02,472.000000,488.700012,469.049988,487.049988,487.049988,4024156
2017-01-03,491.000000,492.700012,479.899994,481.100006,481.100006,5814518
2017-01-04,484.649994,493.700012,484.100006,486.649994,486.649994,4769872
2017-01-05,496.000000,503.399994,495.549988,502.149994,502.149994,7961242
2017-01-06,502.950012,507.950012,496.250000,497.750000,497.750000,4907475
...,...,...,...,...,...,...
2022-11-10,420.500000,420.549988,409.200012,412.200012,412.200012,26251660
2022-11-11,420.000000,425.500000,414.700012,423.500000,423.500000,19296401
2022-11-14,424.000000,437.700012,423.500000,433.700012,433.700012,17996083
2022-11-15,434.899994,438.500000,434.100006,437.149994,437.149994,10696024
2022-11-16,436.950012,438.200012,432.850006,434.399994,434.399994,4728159

In [31]:
df.reset_index(inplace=True)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-02,472.000000,488.700012,469.049988,487.049988,487.049988,4024156
1,2017-01-03,491.000000,492.700012,479.899994,481.100006,481.100006,5814518
2,2017-01-04,484.649994,493.700012,484.100006,486.649994,486.649994,4769872
3,2017-01-05,496.000000,503.399994,495.549988,502.149994,502.149994,7961242
4,2017-01-06,502.950012,507.950012,496.250000,497.750000,497.750000,4907475
...,...,...,...,...,...,...,...
1447,2022-11-10,420.500000,420.549988,409.200012,412.200012,412.200012,26251660
1448,2022-11-11,420.000000,425.500000,414.700012,423.500000,423.500000,19296401
1449,2022-11-14,424.000000,437.700012,423.500000,433.700012,433.700012,17996083
1450,2022-11-15,434.899994,438.500000,434.100006,437.149994,437.149994,10696024
1451,2022-11-16,436.950012,438.200012,432.850006,434.399994,434.399994,4728159